
body {
  font-family: Helvetica;
  margin: 20px;
  padding: 0;
}

h1 {
  text-align: center;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
}

input {
  padding: 10px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  left: 42%;
}

button {
  padding: 10px 20px;
  background-color: rgb(37, 106, 226);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 43%;
  width: 200px;
}

#offerte {
  margin-top: 20px;
  text-align: center;
  width: 750px;
  position: relative;
  left: 23%;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
}
