body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 25px
}

#Container{
    height: 200px;
    width: 200px;
}

#Container input{
    margin: 5px;
}

#SearchButton{
    margin: 10px;
}

